//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title *** JJO.KR 관리 페이지 ***

block JS
	script(type="text/javascript", src="/js/in_admin.min.js")
	
block Middle
	fieldset
		legend 자격
		input#db-password(type='password', placeholder='비밀번호')
		input#db-lang(placeholder='테이블')
	fieldset
		legend 상점 DB 다루기
		div
			input#shop-word(placeholder='품목 (~ALL)')
			button#shop-go 조회
			button#shop-hide 숨기기
			div
				table
					thead: tr
						td 이름
						td 가격
						td 인기도
						td 기간
						td 종류
						td 사용안함
						td 옵션
						td 한글이름
						td 한글 설명
						td 영어이름
						td 영어 설명
					tbody#shop-data
			button#shop-add 추가
			button#shop-apply 적용
	fieldset
		legend 유저 DB 다루기
		div
			input#user-id(placeholder='ID')
			input#user-nick(placeholder='닉네임')
			button#user-go 조회
			div
				table
					thead: tr
						td #
						td 돈
						td 정보
						td 아이템
						td 착용중인것
						td 설명
						td 서버
						td 마지막 로그인
						td 밴사유
						td 친구
					tbody#user-data
			button#user-apply 적용
	fieldset
		legend 유저 감시하기
		div
			input#gamsi-id(placeholder='ID (,로 구분)')
			button#gamsi-go 감시
			div
				table
					thead: tr
						td #
						td 닉네임
						td 서버
					tbody#gamsi-data
	fieldset
		legend 끄투 DB 다루기
		div
			input#db-word(placeholder='단어')
			button#db-go 조회
			div#word-data
				div#wd-id
				input#wd-flag
				table
					thead: tr
						td #
						td 단어
						td 주제
						td 뜻
						td 행동
					tbody#wd-data
			div#word-flag
			div#word-hit
			button#word-add 추가
			button#db-apply 적용
	fieldset
		legend 끄투 DB에 단어 추가하기
		div
			input#db-theme(placeholder='주제 (~부터 적으면 검색)')
			textarea#db-list(rows=20, cols=100)
			button#db-ok 확인
